<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<main layout:fragment="content"  class="container-fluid my-4" style="margin-left:0; margin-right:0; width: 100%;">

    <link rel="stylesheet" href="/css/oauth/main.css">

    <div class="container-fluid">
        <div class="main-container">
            <div class="form-user" th:if="${email != null and email != ''}">
                <!-- 프로필 사진 -->

                <img th:if="${PhotoNo != null and PhotoNo != ''}" th:src="|${PhotoNo}|" alt="Profile Picture" class="profile-img" >

                <!-- profilePhto 값이 null이거나 빈 문자열일 경우 -->
                <img th:if="${PhotoNo == null or PhotoNo == ''}" src="https://static.nid.naver.com/images/web/user/default.png?type=s160" alt="Profile Picture" class="profile-img" onclick="document.getElementById('file-input').click();">

                <!-- 로그인 사용자 이름 -->
                <br/>

                <div class="username" style="font-size: 1.6em; font-weight: bold;" th:text="${name}"></div>

                <!-- 사용자 이메일 -->
                <div class="user-email" style="font-size: 1.4em; color: #666;" th:text="${email}"></div> <br/>


                <!-- 블로그 이동 버튼 -->
                <button class="btn btn-lg btn-primary btn-block btn-center" style="width:250px;"

                        th:data-domain="${Blog_Domain}"
                        onclick="location.href='http://d.0neteam.co.kr:8002/' + (this.getAttribute('data-domain') ? encodeURIComponent(this.getAttribute('data-domain')) : '')">
                    내 블로그
                </button>

                <!-- 카페 이동 버튼 -->
                <button class="btn btn-lg btn-primary btn-block btn-center" style="width:250px;"

                        th:data-domain="${Cafe_Domain}"
                        onclick="location.href='http://d.0neteam.co.kr:8001/' + (this.getAttribute('data-domain') ? encodeURIComponent(this.getAttribute('data-domain')) : '')">
                    내 카페
                </button>
            </div>

            <div class="content-wrapper">
                <div class="tabs">
                    <div class="tab active" onclick="switchTab('cafe')">카페 글 목록</div>
                    <div class="tab" onclick="switchTab('blog')">블로그 글 목록</div>
                </div>
                <div id="cafe" class="tab-content active">
                    <div class="post-list">
                        <div class="post-card" th:each="cafe : ${cafeList}">
                            <a th:text="${cafe.title}"
                               th:href="|http://d.0neteam.co.kr:8001/${cafe.menuNo.boardNo.domain}/post/${cafe.no}|"
                               style="margin-left:5px;"></a>
                            <span class="post-meta" th:text="${cafe.parsRegDate} + ' | 조회수 ' + ${cafe.viewCount}"></span>
                        </div>
                        <div class="more-button-container">
                            <a href="http://d.0neteam.co.kr:8001" class="btn btn-link" style="font-size:16px;">+ 더보기</a>
                        </div>
                    </div>


                </div>
                <div id="blog" class="tab-content">
                    <div class="post-list">
                        <div class="post-card" th:each="blog : ${blogList}">
                            <a th:text="${blog.title}"
                               th:href="|http://d.0neteam.co.kr:8002/${blog.menuNo.boardNo.domain}/postRWD/${blog.no}|"
                               style="margin-left:5px;"></a>
                            <span class="post-meta" th:text="${blog.parsRegDate} + ' | 조회수 ' + ${blog.viewCount}"></span>
                        </div>
                        <div class="more-button-container">
                            <a href="http://d.0neteam.co.kr:8002" class="btn btn-link" style="font-size:16px;">+ 더보기</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <script src="/js/oauth/main.js" type="text/javascript" ></script>
</main>
</html>
